<.back navigate="/app/workspace">Go Back</.back>

<h1>Create Note</h1>

<.form for={@form} phx-submit="create_note" class="max-w-48">
  <.input field={@form[:description]} label="Note" />
  <button phx-disable-with="Saving...">Save Note</button>
</.form>
