<h1>Login</h1>

<div class="flex flex-col w-max gap-2">
  <a href="/oauth/google">
    <button>Continue with Google</button>
  </a>

  <a href="/oauth/facebook">
    <button>Continue with Facebook</button>
  </a>
</div>
